{% extends 'base.html' %}

{% block title %}Inicio - SIGI{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenidos al Sistema de Información Geográfica Intercultural del Pueblo Arhuaco {{ session['usuario'] }}</h1>
            <p class="lead"></p>
            {% include 'carrusel.html' %}
            <p>El Sistema de Información Geográfica Intercultural (SIGI) es una plataforma digital diseñada para documentar, preservar y difundir el conocimiento ancestral y territorial del Pueblo Arhuaco de la Sierra Nevada de Santa Marta. Esta herramienta integra información geoespacial con elementos culturales, espirituales y educativos, permitiendo representar gráficamente lugares sagrados, rutas tradicionales, ríos, montañas y otros elementos significativos del territorio ancestral. A través de mapas interactivos, el sistema busca fortalecer la conexión entre el conocimiento tradicional y las nuevas generaciones, al mismo tiempo que promueve el respeto hacia la cosmovisión indígena por parte de personas externas.</p>
            <p>Esta página web está pensada principalmente para las escuelas, estudiantes y líderes del Pueblo Arhuaco, pero también permitirá a personas externas, con autorización, comprender la riqueza espiritual y natural del territorio ancestral. El sistema ofrece acceso a materiales educativos, relatos culturales y una interfaz interactiva donde los usuarios pueden explorar los espacios sagrados mediante un mapa dinámico y visual.</p>
            <P>Uno de los pilares fundamentales de SIGI es la protección y el control cultural de la información. Por eso, la plataforma ha sido diseñada con altos estándares de seguridad, asegurando que solo personas autorizadas puedan acceder a datos sensibles o contribuir con contenido. La participación de los Mamos y líderes tradicionales es esencial en la validación y aprobación del contenido, garantizando que el sistema se mantenga en armonía con los principios espirituales y culturales del Pueblo Arhuaco. Además, se respetan las restricciones de acceso para aquellos elementos considerados sagrados o reservados.</P>
            <p>En definitiva, SIGI no es solo un sistema tecnológico, sino una herramienta viva de aprendizaje, resistencia y fortalecimiento cultural. Representa un puente entre el conocimiento ancestral y las tecnologías actuales, sirviendo como una plataforma educativa, política y espiritual. A través de su implementación, se espera empoderar a la comunidad Arhuaca, fomentar el diálogo intercultural en Colombia y promover el respeto profundo por los territorios indígenas y su sabiduría milenaria.</p>
        </div>
    </div>
</div>
{% endblock %}