{% extends 'base_admin.html' %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div style="width: 100%;">
        <h1 class="text-center title-user">Lista de Usuarios</h1>
    </div>
    <table class="table table-striped" style="text-align: center;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in admins %}
                <tr>
                    <td>{{ usuario['nombre'] }}</td>
                    <td>{{ usuario['correo'] }}</td>
                    <td>
                        {% if usuario['imagen'] %}
                            <img src="{{ url_for('static', filename='uploads_image/' ~ usuario['imagen']) }}" width="100px">
                        {% else %}
                            Sin imagen
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}