{% extends 'base.html' %}
{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div>
        <h1 class="text-center">Editar Administrador</h1>
    </div>

    <form method="POST" class="container mt-4" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ editor['nombre'] }}" required>
        </div>

        <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" value="{{ editor['correo'] }}" required>
        </div>

        <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña</label>
            <div class="input-group">
              <input type="password" class="form-control" id="contraseña" name="contraseña" value="{{ editor['contraseña'] }}" required>
              <span class="input-group-text"><i class="bi bi-eye-fill" id="icon-chan" onclick="togglePassword()"></i></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>

    {% block script %}
        <script>
            function togglePassword() {
                const pwd = document.getElementById('contraseña');
                const icon = document.querySelector('#icon-chan');

                if (pwd.type === 'password') {
                    pwd.type = 'text';
                    icon.classList.remove('bi-eye-fill');
                    icon.classList.add('bi-eye-slash-fill');
                } else {
                    pwd.type = 'password';
                    icon.classList.remove('bi-eye-slash-fill');
                    icon.classList.add('bi-eye-fill');
                }
            }
        </script>
    {% endblock %}

{% endblock %}